@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@theme {
  --breakpoint-xs: 475px;
}

:root {
  --background: #e9fafd;
  --foreground: #1a1a1a;
  --primary: #010221;
  --secondary: #C2C9FF;
  --primary-foreground: #e9fafd;
}



